# filename: .clang-format
# author: Backtraxe
# date: 2023-08-24

# 风格模板
BasedOnStyle: Google

# 缩进
IndentWidth: 2

# 最大宽度
ColumnLimit: 120

# 访问修饰符
AccessModifierOffset: -2

# 左括号后参数换行对齐
AlignAfterOpenBracket: Align

# 结构体内数据根据“,”对齐
AlignArrayOfStructures: Right

# 连续赋值按“=”对齐
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true  # 跨过空行
  AcrossComments: true    # 跨过注释

# 连续变量声明对齐
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true  # 跨过空行
  AcrossComments: true    # 跨过注释

# 连续宏定义对齐
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false  # 跨过空行
  AcrossComments: true     # 跨过注释

# 换行符“\”对齐
AlignEscapedNewlines: Left

# 尾部注释对齐
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0  # 跨过空行数

# 模板声明后换行
AlwaysBreakTemplateDeclarations: Yes
